@import '../../sassis/dist/defaults'
@import './_theme'
@import '../../sassis/src/sassis'

+sassis
+shorthand
+layout

main 
	font-smooth: never
	-webkit-font-smoothing: none
	font-family: menlo,lucida console,consolas,courier new,courier,monospace!important
	// line-height: 1em!important
	// *
	// 	line-height: 1em!important

	input[type=number]
		max-width: 5em
	.char
		// flex-basis: 8px
		// min-width: 8px
		// max-width: 8px
		flex-grow: 0
		// height: 13px

	input, textbox
		+bg( var(--bg-sink))

	div,span,h1,h2,h3,h4,h5,h6,section,aside,main
		user-select: none