@import '../../sassis/dist/defaults'
@import './_theme'
@import '../../sassis/src/sassis'

+sassis
+shorthand
+layout

main 
	font-smooth: never
	-webkit-font-smoothing: none
	font-family: menlo,lucida console,consolas,courier new,courier,monospace!important
	line-height: 1em!important
	*
		line-height: 1em!important
 	// .char
 	// 	&:hover
 	// 		background-color: white